@keyframes dropIn {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bulge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(400px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes headerBulge {
  0% {
    transform: scale(0);
    box-shadow: unset;
  }
  60% {
    transform: scale(1.1);
    box-shadow: 0 0 25px black;
  }
  80% {
    transform: scale(1.1);
    box-shadow: 0 0 25px black;
  }
  100% {
    transform: scale(1);
    box-shadow: unset;
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0) scale(1);
    box-shadow: unset;
  }
  30% {
    transform: rotateZ(0) scale(1);
    box-shadow: unset;
  }
  38% {
    transform: rotateZ(2deg) scale(1.05);
    box-shadow: 0 0 10px gray;
  }
  46% {
    transform: rotateZ(-2deg) scale(1.05);
    box-shadow: 0 0 10px gray;
  }
  54% {
    transform: rotateZ(2deg) scale(1.05);
    box-shadow: 0 0 10px gray;
  }
  62% {
    transform: rotateZ(-2deg) scale(1.05);
    box-shadow: 0 0 10px gray;
  }
  70% {
    transform: rotateZ(0) scale(1);
    box-shadow: unset;
  }
  100% {
    transform: rotateZ(0) scale(1);
    box-shadow: unset;
  }
}

@keyframes shimmer {
  0% {
    color: white;
    transform: scaleX(1);
  }
  50% {
    color: #FFDA60;
    transform: scaleX(0);
  }
  100% {
    color: white;
    transform: scaleX(1);
  }
}

@keyframes flip {
  0% {
    transform: scaleY(1);
    background-color: #F9BF01;
  }
  50% {
    transform: scaleY(0);
    background-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    transform: scaleY(1);
    background-color: #F9BF01;
  }
}

.drop-in {
  animation-name: dropIn;
  animation-duration: 1.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  display: inline-block;
  opacity: 0;
}

.bulge {
  animation-name: bulge;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.fade-up {
  animation-name: fadeUp;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  display: inline-block;
  opacity: 0;
}

.header-bulge {
  animation-name: headerBulge;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.wiggle {
  animation-name: wiggle;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.shimmer {
  animation-name: shimmer;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  display: inline-block;
}

.flip {
  animation-name: flip;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
