@keyframes dropIn {
  from {
    transform: rotateZ(45deg) translateY(-200px);
    opacity: 0;
  }
  to {
    transform: rotateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes bulge {
  0% {
    font-size: 100%;
  }
  50% {
    font-size: 150%;
  }
  100% {
    font-size: 100%;
  }
}

.drop-in {
  animation-name: dropIn;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  display: inline-block;
  opacity: 0;
}

.bulge {
  animation-name: bulge;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  line-height: 0em;
}
