html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../images/bg1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

body::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

:target::before {
  content: "";
  display: block;
  height: 68px;
  margin-top: -68px;
}

.desktop {
  display: none;
}

.intro {
  padding: 15% 10% 10%;
  width: 70vw;
  margin-left: auto;
}

.intro h1 {
  font-weight: 600;
  font-size: 3.5em;
}

.intro h2 {
  font-weight: 300;
  font-size: 1.75em;
  color: #222;
}

.intro h2 .bold {
  color: black;
  font-weight: 600;
}

p, h6 {
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
}

.my-projects {
  background-color: white;
  padding: 4% 6%;
}

.my-projects h4:first-of-type {
  margin: 0;
}

.my-projects h3 {
  font-weight: 600;
  font-size: 3em;
  margin-bottom: 4%;
}

.my-projects h4 {
  background-color: #D89700;
  color: white;
  padding: 1% 2%;
  font-weight: 600;
  font-size: 2em;
  margin-top: 8%;
  border-left: 8px solid #936700;
}

.my-projects #projects h4 {
  margin-top: 0;
}

.row {
  margin: 2% -15px;
}

.project {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color: white;
  transition: all 0.25s ease;
}

.project:hover {
  box-shadow: 0 0 10px #333;
}

.project:hover .project-body {
  opacity: 1;
}

.project-header {
  background-color: black;
  padding: 2% 4%;
  transition: all 0.25s ease;
  z-index: 1;
}

.project-title {
  font-size: 2em;
  color: white;
  font-weight: 300;
}

.project-affiliation {
  font-size: 0.95em;
  font-weight: 200;
  text-align: left;
  color: white;
}

.project-body {
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.25s ease;
  opacity: 0.95;
}

.project-body div {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  position: relative;
  transition: all 0.5s ease;
}

.project-body p {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: white;
  font-size: 1.75em;
  font-weight: 200;
}

.small-project .project-body p {
  font-size: 1.25em;
}

#focus {
  background-image: url('../images/focus/focus.png');
}

#wordofhands {
  background-image: url('../images/woh/woh.png');
}

#apm {
  background-image: url('../images/apm/apm.png');
}

.small-project {
  height: 300px;
}

.small-project .project-title {
  font-size: 1.5em;
}

.small-project .project-affiliation {
  font-size: 0.9em;
}

.small-project .project-footer {
  transition: all 0.5s ease;
  background-color: #F9BF01;
  padding: 4%;
}

.small-project .project-type {
  color: white;
  text-align: right;
  font-size: 0.9em;
}

#klema {
  background-image: url('../images/small/klema.png');
}

#carpool {
  background-image: url('../images/small/carpool.png');
}

#swap {
  background-image: url('../images/small/swap.png');
}

#meme {
  background-image: url('../images/small/meme.png');
}

@media screen and (max-width: 991px) {

  .desktop {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {

  body {
    background-attachment: scroll;
  }

  .container {
    width: 100%;
  }

  .intro {
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30% 15% 15%;
  }

  .project {
    margin: 4%;
    height: 400px;
  }

  .my-projects {
  }

  .my-projects h3 {
    font-size: 3em;
    margin: 4%;
  }

  .my-projects h4 {
    font-size: 2em;
    margin: 16% 4% 0;
  }

  .my-projects h4:first-of-type {
    margin: 8% 4% 0;
  }

  .project-title {
    font-size: 1.75em;
  }

  .small-project {
    height: 200px;
    margin: 8% 0;
  }

  .left {
    margin-left: 8%;
  }

  .right {
    margin-right: 8%;
  }

  .small-project .project-title {
    font-size: 1.25em;
  }

  .small-project .project-affiliation {
    font-size: 0.8em;
  }

  .small-project .project-type {
    font-size: 0.8em;
  }
}
