nav {
  background-color: black;
  box-shadow: 0 2px 3px black;
}

body {
  background: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Overpass', sans-serif;
}

a {
  color: unset;
}

a:hover {
  text-decoration: none;
  color: unset;
}

.navbar-dark .navbar-toggler {
  border: unset;
  font-size: 1.5em;
}

.navbar-dark .navbar-toggler .navbar-toggler-icon {
  background-image: url('../images/icons/nav-icon.svg');
}

.navbar-brand {
  font-size: 1.35em;
  margin-left: 32px;
  padding: 8px 16px;
  color: white;
  background-color: unset;
  transition: background-color 0.25s ease;
}

.navbar-brand:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-brand img {
  width: 36px;
  height: 36px;
}

.navbar-brand span {
  font-family: 'Alegreya', serif;
  margin-left: 8px;
}

.navbar-nav {
  margin-right: 32px;
}

.nav-item {
  margin: 0 16px;
  width: 120px;
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: 'Overpass', sans-serif;
  font-size: 1em;
  font-weight: 200;
  transition: all 0.25s ease;
  color: #DDD;
  background-color: unset;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-dark .navbar-nav .my-active {
  color: #F9BF01 !important;
  font-weight: 400;
}

main {
  flex: 1;
  font-family: 'Overpass', sans-serif;
}

.container {
  width: 60%;
  max-width: unset;
}

footer {
  color: black;
  font-family: 'Overpass', sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  padding: 16px;
  box-sizing: content-box;
}

footer p {
  margin: 0;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 8px;
  box-sizing: content-box;
}

footer div a {
  margin: 0 12px;
  transition: opacity 0.25s ease;
}

footer div a:hover {
  opacity: 0.6;
}

footer div a img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 991px) {
  .navbar-brand {
    margin-left: 0;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #DDD;
    margin-right: unset;
    margin-top: 12px;
  }

  .nav-item {
    width: 50%;
    margin-top: .5rem;
    box-sizing: content-box;
  }

  .container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .my-fade-out {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    height: 15vh;
  }
}
