a {
  color: black;
}

body {
  font-family: 'Alegreya', serif;
}

nav {
  border-bottom: 3.5px dotted rgb(220, 220, 220);
  background-color: white;
}

.collapsing {
  -webkit-transition: height .25s ease;
     -o-transition: height .25s ease;
        transition: height .25s ease;
}

@media screen and (min-width: 768px) {
  .collapsing {
    -webkit-transition: height .01s ease;
       -o-transition: height .01s ease;
          transition: height .01s ease;
  }
}

.nav-option {
  color: rgb(150, 150, 150);
  text-align: center;
  width: 100%;
  font-size: 1.25em;
  font-weight: 600;
  background-color: white;
}

.nav-option:hover {
  color: rgb(111, 111, 111);
}

.active-text {
  color: black !important;
}

@media screen and (max-width: 767px) {
  .nav-option {
    border-top: 1px solid rgb(230, 230, 230);
  }
}

#logo {
  font-size: 1.5em;
  font-weight: 400;
  text-align: left;
  height: 100%;
  margin-left: 3%;
}

#collapse-button {
  float: right !important;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 3%;
}

#collapse-button:focus {
  outline: none;
}
