#content {
  margin-top: 50px;
}

#my-picture {
  width: 200px;
  margin-left: 10%;
  border-radius: 100px;
  box-shadow: 0 0 10px 2px gray;
}

@media screen and (max-width: 991px) {
  #my-picture {
    width: 150px;
  }
}
@media screen and (max-width: 575px) {
  #my-picture {
    width: 100px;
  }
}
