.collapsing {
  -webkit-transition: height .25s ease;
     -o-transition: height .25s ease;
        transition: height .25s ease;
}

.nav-option {
  color: rgb(150, 150, 150);
  text-align: center;
  width: 100%;
  font-size: 1.25em;
  font-weight: 600;
  background-color: white;
}

.nav-option:hover {
  color: rgb(111, 111, 111);
}

.active-text {
  color: black !important;
}

@media screen and (max-width: 767px) {
  .nav-option {
    border-top: 1px solid rgb(230, 230, 230);
  }
}

.side-nav {
  margin-top: 30px;
  padding: 16px 8px;
  border-right: 2px solid lightgray;
  height: 100vh;
}

.side-nav h3 {
  padding: 10px 0 14px 8px;
  margin-right: 10px;
  color: black;
  border-bottom: 2px solid lightgray;
}

.side-nav-opt {
  font-family: 'Nunito Sans', sans-serif;
  padding: 10px 16px;
  margin: 0;
  color: rgb(111, 111, 111);
  overflow-x: hidden;
  font-size: 1.3em;
}

.side-nav-opt:hover {
  cursor: pointer;
}

.active {
  font-weight: 600;
  color: black;
  border-left: 4px solid black;
}

@media screen and (max-width: 991px) {
  .side-nav-options {
    overflow: auto;
    height: 44px;
  }

  .side-nav {
    margin-top: 0;
    padding-top: 0;
    height: unset;
    border-right: none;
    display: flex;
    box-shadow: 0 5px 6px gray;
    padding-bottom: 0;
  }

  .side-nav h3 {
    color: rgb(100, 100, 100);
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    border-bottom: none;
    font-size: 1.2em;
  }

  .side-nav-opt {
    margin: 0;
    padding: 10px 0;
    font-size: 1.1em;
    min-width: 100px;
    text-align: center;
  }

  .active {
    border-bottom: 2px solid black;
    border-left: none;
  }

  #side-navbar-content {
    border-top: 1px solid rgb(230, 230, 230);
  }
}

.collapse-button {
  float: right !important;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 3%;
}

#side-nav-toggle {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(150, 150, 150)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#side-nav-toggle-border {
  border-color: rgb(200, 200, 200);
}

#main-nav-toggle {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#main-collapse-button {
  border-color: rgb(100, 100, 100);
  border-width: 2px;
  background-color: rgb(150, 150, 150);
}

#logo {
  font-size: 1.5em;
  font-weight: 400;
  text-align: left;
  height: 100%;
  margin-left: 3%;
}
