.affiliation {
  padding: 50px 50px;
  text-align: center;
  background-color: #0e2c5e;
  color: white;
  box-shadow: 0 0 20px gray;
  border-radius: 5px;
}

.project-row {
  padding: 40px 50px;
  text-align: center;
}

.words {
  height: auto;
}

.words-and-image {
  height: auto;
}

.image {
  width: 100%;
}

.image-description {
  margin-top: auto;
  margin-bottom: auto;
  padding: 25px 25px;
}

.project-row h1, .affiliation h1 {
  text-align: left;
  font-weight: 400;
  font-size: 2.5em;
}

.project-row h2, .affiliation h2 {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.4em;
  padding-left: 100px;
  text-align: left;
}

.project-row p {
  font-size: 1.5em;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.project-row img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  box-shadow: 0 0 20px gray;
  padding: 0;
}

.project-title {
  margin-top: 30px;
  height: 350px;
}

.side-nav {
  margin-top: 30px;
  padding: 20px 10px;
  border-right: 2px solid lightgray;
  height: 100vh;
}

.side-nav h3 {
  padding: 7px 15px 10px 15px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid lightgray;
  box-shadow: 0 4px 5px lightgray;
  color: black;
}

.side-nav-opt {
  font-family: 'Nunito Sans', sans-serif;
  text-indent: 30px;
  padding: 10px 0;
  margin: 0;
  color: rgb(111, 111, 111);
}

.side-nav-opt:hover {
  cursor: pointer;
}

.active {
  font-weight: 600;
  color: black;
}

#woh-banner {
  background: url("../Media/woh/woh_banner.png") no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 575px) {
  #woh-banner {
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  #woh-banner {
    height: 300px;
  }
}
