.affiliation {
  padding: 50px 50px;
  text-align: center;
  background-color: rgb(230, 230, 230);
}

.project-row {
  padding: 40px 50px;
  text-align: center;
}

.words {
  height: auto;
}

.words-and-image {
  height: 100%;
}

.image {
  width: 100%;
}

.image-description {
  margin-top: auto;
  margin-bottom: auto;
  padding: 25px 0;
}

.project-row h1 {
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.5em;
}

.project-row p {
  font-size: 1.35em;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.project-row img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  box-shadow: 0 0 20px gray;
  padding: 0;
}

.project-title {
  margin-top: 10px;
  height: 400px;
}

#woh-banner {
  background: url("../Media/woh/woh_banner.png") no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 575px) {
  #woh-banner {
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  #woh-banner {
    height: 300px;
  }
}
