
/* for project page */

.project {
  height: 300px;
  box-shadow: 0px 0px 10px #555;
  padding: 3%;
  margin: 0.5%;
  margin-top: 12px;
  margin-bottom: 12px;
}

#woh_box {
  background-color: rgba(254, 127, 21, 0.25);
}

#klema_box {
  background-color: rgba(53, 190, 190, 0.25);
}

#car_box {
  background-color: rgba(131, 200, 244, 0.25);
}

#woh_box:hover {
  background-color: rgba(254, 127, 21, 0.4);
}

#klema_box:hover {
  background-color: rgba(53, 190, 190, 0.4);
}

#car_box:hover {
  background-color: rgba(131, 200, 244, 0.4);
}

.project:hover {
  box-shadow: 0px 0px 15px #333;
  transform: translateY(-2px);
}

.project-image {
  height: 100%;
  border: 3px solid white;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px gray;
}

.page-section h2 {
  font-size: 64px;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 8%;
  padding-top: 8%;
  padding-bottom: 8%;
  margin-left: 8%;
  margin-right: 8%;
  border: 2px dashed lightgray;
}

@media screen and (max-width: 767px) {
  .page-section h2 {
    font-size: 48px;
    margin-top: 16%;
    margin-bottom: 16%;
  }
}

.page-section {
  padding: 0 24px;
}

#all-projects {
  padding-bottom: 24px;
}

@media screen and (max-width: 575px) {

  .project-words h4 {
    font-size: 1.5em;
  }

  .project-words p {
    font-size: 0.9em;
  }

  .project {
    height: 180px;
  }

  .read-more {
    font-size: 0.75em !important;
  }
}

@media screen and (min-width: 576px) {

  .project-words h4 {
    font-size: 2.5em;
  }

  .project-words p {
    font-size: 1.25em;
  }

  .project {
    height: 250px;
  }

  .read-more {
    font-size: 1em !important;
  }

}

@media screen and (min-width: 768px) {
  .project {
    height: 300px;
  }
}

@media screen and (min-width: 992px) {
}

#klema {
  background-image: url("../Media/klema/klema.png");
}

#word-of-hands {
  background-image: url("../Media/woh/word_of_hands.png");
}

#carpool {
  background-image: url("../Media/carpool/carpool.png");
}

.project-words {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 20px;
  padding-right: 10px;
}

.project-words h4 {
  padding-bottom: 2%;
  border-bottom: 2px solid white;
}

p.larger-p {
  font-size: 1.25em;
  font-weight: 300;
}

.read-more {
  color: rgb(150, 150, 150);
  display: block;
  position: absolute;
  bottom: -8px;
  right: 16px;
}

#content {
  padding: 0;
}

#intro {
  background: url("../Media/images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding-top: 40vh;
  color: white;
}

#quote {
  background: url("../Media/images/background2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  margin-top: 4%;
  padding-top: 45vh;
  width: 100vw;
  height: 100vh;
  color: white;
}

#about-section {
  margin-top: 8%;
  margin-bottom: 4%;
}

#my-picture {
  width: 100%;
  max-width: 200px;
  display: block;
  margin-left: auto;
  border-radius: 100%;
  border-bottom: 3px solid gray;
  box-shadow: 0 0px 15px black;
}

@media screen and (max-width: 767px) {

  p.larger-p {
    padding-top: 8%;
  }

  #my-picture {
    margin-right: auto;
  }

  #intro {
    padding-top: 20vh;
    background-attachment: scroll;
  }

  #quote {
    background-attachment: scroll;
  }

  #intro h1 {
    text-align: left;
    font-size: 3em;
  }

  #intro h2 {
    text-align: right;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) {

  #intro h1 {
    text-align: right;
    font-size: 3.5em;
  }

  #intro h2 {
    text-align: left;
    font-size: 2.25em;
  }
}
